@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: linear-gradient(#08090e, #07080d);
    color: #fff;
    width: 100%;
    overflow-x: hidden;
}

